body {
    background-color: rgba(8, 10, 121, 0.923);
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
}

button:hover {
    opacity: 0.8;
    background-color: rgb(228, 162, 127)
}

button:active {
    background-color: rgb(233, 66, 119);
}

/* gør div elementet til en block */

.div-logo { 
    display: block;
    margin: auto;
    width: fit-content;
}

/* Logo på login siden */

.logosettings {
    height: 100px;
}

/* dansende effekt på logo */

.logobounce {
    animation: dance 2.5s ease-in-out infinite;
}

@keyframes dance {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(-6px) rotate(-1deg); }
    50%  { transform: translateX(6px) rotate(1deg); }
    75%  { transform: translateX(-6px) rotate(-1deg); }
    100% { transform: translateX(0); }
}

/* BrainMate css */

.namesettings {
    color: rgb(233, 66, 119);
    text-align: center;
    font-size: xx-large;
    margin-top: 0px;
    margin-bottom: 3px;
}

/* slogan på login siden */

.slogan {
    color: rgb(0, 153, 255);
    text-align: center;
    font-size: medium;
    margin-top: 2px;
}

.energy-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    width: 100%; 
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    align-content: center;
}

.energy-card {
    background: rgb(0, 153, 255);
    border-radius: 14px;
    padding: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    align-content: center;
}

.btn:hover {
  background-color: rgb(228, 162, 127);
}

.btn.active {
    background-color: rgb(233, 66, 119);
}

.image-btn{
    background: rgb(0, 153, 255);
    border-radius: 14px;
    padding: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

.image-btn img{
    display: block; 
}

.fortsætknap { 
    background: rgb(233, 66, 119);
}

