body {
    background-color: rgba(8, 10, 121, 0.923);
    font-family: Arial, sans-serif;
}

/* === Modal baggrund === */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    inset: 0;
    background: rgba(0,0,0,0.5);
    overflow: auto;
}

/* === Popup box === */
.modal-content {
    background-color: rgba(8, 10, 121, 0.923);
    margin: 5% auto;
    border: 1px solid rgb(228, 162, 127);
    width: 60%;
    max-width: 600px;
    border-radius: 8px;
    padding-bottom: 20px;
}

/* === Luk knap === */
.close {
    float: right;
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px;
}

/* === Logo container === */
.logo-box {
    text-align: center;
    padding: 20px 10px;
}

/* === Logo billede === */
.logo-image {
    width: 70%;
    max-width: 450px;
    display: block;
    margin: auto;
}

/* === Input === */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* === Container === */
.container {
    padding: 15px 25px;
}

.footer {
    background: rgba(210, 25, 25, 0.15);
}

/* === Knapper === */
button {
    background: rgb(228, 162, 127);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    background: rgb(134, 130, 130);
}

.animate {
    animation: scaleIn .4s ease;
}

@keyframes scaleIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.div-logo { 
    display: block;
    margin: auto;
    width: fit-content;
}

.logosettings {
    height: 100px;
}

.namesettings {
    color: rgb(228, 162, 127);
    text-align: center;
    font-size: xx-large;
    margin-top: 0px;
    margin-bottom: 3px;
}

.slogan {
    color: rgb(228, 162, 127);
    text-align: center;
    font-size: medium;
    margin-top: 2px;
}


