.div-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.namesettings-hp {
    font-size: xx-large;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(228, 162, 127);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.slogan-hp {
    font-size: large;
    text-align: center;
    margin-top: 0px;
    color: rgb(228, 162, 127);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logosettings {
    width: 110px;
    height: auto;
    margin-top: 20px;
}

body {
    background-color: rgba(8, 10, 121, 0.923);
}

.password {
    width: 50%;
    margin: 20 px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divcenterU {
    text-align: center;
    
}

.divcenterP {
    text-align: center;
    
}

form {
    border: 3px solid rgb(228, 162, 127);
}

input[type=text], input[type=password] {
    width: 100%;    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

button {
    background-color: rgb(62, 158, 247);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(155, 133, 175);
}

.imgcontainer {
    text-align: center;
    margin: 24 px 0 12px 0;
}

img.logn-foto {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
